
/* --views-BODY-------------------*/

.PV_Container{
    background-color: rgb(240, 253, 255);
}

.label{
    padding: 15px 0 12px 0;
    margin: 0;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

.figures{
    height: 20%;
    padding: 5px 15px 15px 15px;
    gap: 10px;
}

hr{
    margin: 0;
}

#temp-wind{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#irradiance{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

img{
    width: 70%;

}

#energy-power{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


